<div id="container">
    <div>
        <img src="../../../assets/angular.png" width="50">
    </div>
    <h1>Flights</h1>
    <div>
        <input type="text" placeholder="From">
    </div>
    <div>
        <input type="text" placeholder="To">
    </div>
    <div>
        <button class="btnMfe" (click)="search()">Search</button>
        <button class="btnMfe" (click)="terms()">Terms...</button>
        <button class="btn btn-outline-success" type="submit">Btn Bootstrap</button>

    </div>
    
</div>